.products {
    padding-top: 35px;

    &__container {
        display: flex;
        padding-left: 0;
    }

    &__nav-wrap {
        width: 16%;
        flex-shrink: 0;
    }

    &__products-wrap {
        width: 84%;
    }
}